@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary: #A5D601;
    --bg: #1c2029;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero {
    max-width: 1024px;
    padding: 1.5rem;
    text-align: center;
}

button{
    width: 60%;
}

button b {
    color: var(--bg);
    font-size: clamp(22px, 4vw, 28px);
}

#hero hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.preco {
    color: var(--primary);
    font-size: clamp(3rem, 5vw + 1rem, 3.2rem);
    font-weight: 800;
}

#hero hgroup h1 {
    color: #fff;
    font-size: clamp(2rem, 5vw + 1rem, 2.8rem);
}

#hero hgroup p {
    color: #fff;
    font-size: 22px;
}

#hero h1 u {
    color: var(--primary);
}

@media (max-width:768px){
    button{
        width: 100%;
    }
}